/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.example-appear {
  opacity: 0.01;
  transform: translatey(150%);
}

.example-appear.example-appear-active {
  opacity: 1;
  transform: translatey(0%);
  transition: all 500ms ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-in;
}
